/* Custom Styles */
@import url("dist/css/fonts.css");

body { 
  padding: 9px 0;
}

  body:before,
  body:after {
    background: #a08d8d;
    content: '';
    height: 9px;
    left: 0px;
    position: absolute;
    width: 100%;
  }

    body:before { top: 0; }

    body:after { display: none; }

.primary-color { color: #ff6f69; }

.logo {
  display: inline-block;
  margin: 32px;
}  

  .logo img { 
    max-width: 228px;
    width: 100%; 
  }  

header .user {
  color: #29abe2;
  font-size: 24px;
  margin-bottom: 20px;
}

header .user span {
  display: inline-block;
  border-radius: 50%;
  background: #ffcfab;
  padding: 3px;
  height: 40px;
  text-align: center;
  width: 40px;
  margin-right: 20px;
} 


header .user i { 
  color: #fff;
  font-size: 20px;
}
header .exit {
  float: right;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  header .user { margin: 24px 0 0 0; }
  header .exit { margin: 30px 0 0 0; }
}
header .exit i { 
  color: #ff6f69;
  font-size: 35px;
}

nav {
  background: #ffebc7;
  color: #af5858;
  padding: 12px 0 9px;
}

  .breadcrumb {
    background: transparent;
    color: inherit;
    font-size: 17px;
    line-height: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }

  .breadcrumb > li + li:before {
      color: inherit;
      content: ">\00a0";
      padding: 0 5px;
  }

  .breadcrumb > li a { color: #366096; }

  .breadcrumb > .active { color: inherit; }

@media (min-width: 768px) {
  .breadcrumb { margin: 0 0 0 5px;  }
}

h1 {
  margin: 30px 20px 26px;
  font-size: 22px;
  text-transform:uppercase;
  color: #FF6F69;
}

.page-wrap { 
  font-size: 18px;
  padding-bottom: 80px; 
}

.dashboard-widgets {
}

  .dashboard-widgets section { 
    color: #af5858;
    background: #f2f2f2;
    margin-top: 20px; 
    border: 1px solid #a08d8d;
    min-height: 290px;
  }

    .dashboard-widgets section h3,.fundswitch-widgets section h3 {
      background: #a08d8d;
      color: #fff;
      margin: 0;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 18px;
      padding-left: 20px;
    }

    .dashboard-widgets section .amount { color: #FF6F69; }

      .dashboard-widgets .pension-pots-left .widget-label { color: #914a4a; } 

    .dashboard-widgets .pension-pots-right {
      border-left: 1px solid #fc8686;
      padding-left: 12px;
    }
      .dashboard-widgets .pension-pots-right .amount { line-height: 100%; } 

      .dashboard-widgets .pension-pots-right .widget-label { text-transform: uppercase; } 

      .dashboard-widgets .current-plan .amount,
      .dashboard-widgets .current-plan .widget-label { line-height: 100%; } 

      .dashboard-widgets .current-plan .btn { 
        margin-top: 42px; 
        padding: 7px 15px;
      } 

  .dashboard-widgets .action-row { 
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 1px 0 #ebebeb;
    font-size: 16px;
    color: #000;
    min-height: 70px;
    padding: 15px 0;

  } 

    .dashboard-widgets .action-row:last-child {
      border-bottom: 0;
      box-shadow: none;
    }

    .dashboard-widgets .action-row p,
    .dashboard-widgets .timeline-row p { 
      color: #4d4d4d;
      font-size: 18px;
      margin-bottom: 0;
    }

    .dashboard-widgets .action-row span {  color: #f15a24; }

    .dashboard-widgets .action-row .action-icon {  
      width: 60px;
      height: 80px;
      float: left;
      color: #f15a24;
    }
    .dashboard-widgets .action-row .action-icon i {  
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); 
      transform: rotate(-45deg);
      margin-left: 8px;
      font-size: 25px;
    }

    .dashboard-widgets .timeline-row { color: #914a4a; }
    
      .dashboard-widgets .timeline-row .timeline-reviews {
        margin: 13px 20px;
        border-bottom: 1px solid #d3d3d3;
        box-shadow: 0 1px 0 #ebebeb;
        padding-bottom: 15px;
      }
    
        .dashboard-widgets .timeline-row:last-child  .timeline-reviews{  
          border-bottom: 0;
          box-shadow: none;
          padding-bottom: 0;
          margin-bottom: 0
        }
      
      .rating,
      .likes {  
        display: inline-block;
        color: #ff6f69; 
        padding-left: 0
      }
      .rating { padding-right: 25px; }

      .rating li { 
        display: inline-block;
        margin-right: 8px;
      }

      .rating .fa-star-o { font-size: 25px; }

@media (max-width: 768px) {
  .dashboard-widgets .pension-pots-right { border: 0; }
}

.login-page {
  background: url(dist/img/login-bg.png) no-repeat;
  background-size: cover;
  margin-bottom: 90px;
}

  .login-page .card {
    padding: 40px 57px 40px 50px;
    margin: 120px auto;
    max-width: 340px;
  }

  .login-page h1 { 
    font-weight: bold;
    margin: 5px 0 20px 0; 
  }

  .login-page .form-control { 
    border-radius: 0;
    margin-top: 4px;
    margin-bottom: 25px;
  }

  .login-page .btn {
    margin-top: 13px;
    padding: 7px 35px;
  }

  @media (min-width: 768px) {
    .login-page .card { 
      margin: 120px 23% 120px 48% ;
      width: 340px;
    }
  }

.form-container {
  background: #f2f2f2;
  border: 1px solid #a08d8d;
  padding: 35px 40px;
}

  .form-container .control-label { margin-top: 4px; }

  .form-container .form-control {
    background: #fff;
    border: 1px solid #cecece;
    border-radius: 0;
    color: #666666;
    font-size: 18px;
  }

  .form-container .form-control.datepicker { border-right: 0; }

  .form-container .form-control.datepicker + .input-group-addon {
    background: #fff;
    border-radius: 0;
  }

  .form-container > form > .row {
    padding: 5px 0 22px;
  }
  .form-container > form > .row:last-child {
    padding-bottom: 12px;
  }

  .form-container-footer { color: #808080; }

  .form-container-footer .rating {
    margin-left: 25px;
  }

  .file-attachment { color: #999999; }

    .file-attachment i { 
      font-size:21px;
      color: #808080; 
    }

    .file-attachment strong { padding: 0 6px 0 12px; }

/*Retirement plan screen & slider css starts here*/
	 .slider.slider-horizontal{width:100%;} 
	.slider.slider-horizontal .slider-track{height:15px;width:102%;}
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{ margin-top: 20px;font-size:12px;}
	.slider.slider-horizontal .slider-tick{width:3px;margin-left: 5px;margin-top:25px; }
	.slider.slider-horizontal .slider-handle{width: 31px; height:32px;background:url(dist/img/slider-tip.png) no-repeat; margin-top: -5px;}
	
	.tooltip-inner{background-color:#DAA520;}
	
	.tooltip.top .tooltip-arrow {
			border-top-color: #daa520;
			border-left: 3px solid #daa520;
			padding-bottom: 6px;
			margin-left: 0px;
			

	}
	.slider-track-high{background-color: #f2f2f2;}
	.slider-selection.tick-slider-selection{background-color:#A9A9A9;background-image: linear-gradient(to bottom, #a9a9a9 0%, #696969 100%); height:12px;}
	.slider-tick{background-image:linear-gradient(to bottom, #a9a9a9 0%, #c0c0c0 100%);height:15px;}
	.slider-tick.in-selection{background-image: linear-gradient(to bottom, #a9a9a9 0%, #696969 100%);}
	.tooltip{padding: 6px 0px;}
	.slider-tick.round {
		border-radius: 50%;
		background-color: #a9a9a9;
	}
	.slider-container{padding:15px 15px 0px 15px; margin-top:10px;border-top: 1px solid #c0c0c0;}

	.slider-container label{display:block; color:#a9a9a9; padding-bottom: 25px;}
	.slider-container{margin-top:15px;}
	input{
		border: 1px solid #a9a9a9;
		border-radius: 5px;
		padding: 3px;
		background:#f5f5f5;
		height:40px;
		
	}

	
	.salary-input{width:100px;color:#696969; font-weight:bold;}
	
	
	
	.button {

		border: 1px solid #A08D8D;
		font-weight:bold;
		padding: 6px 24px;
		text-align: center;
		color:#A08D8D;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 4px 2px;
		cursor: pointer;
		text-transform:uppercase;
		background-color:#fff;
}

	button.selected{background-color: #A08D8D; color:#fff;}
	button.medium{width:128px;}
	/*utility classes starts*/
	.p-b-0 {  padding-bottom: 0px!important;}
	.m-0-auto{margin:0 auto;}
	.uppercase-trasfom{text-transform:uppercase;}
	.bg-none{background:#fff!important;}
	.tb-none{border-top:none;}
	/*utility classes ends*/
	
	
	 /*Retirement plan screen & slider css ends here*/
	 /*Search My Actions screen css starts here*/
	 #filtersubmit {
		position: relative;
		z-index: 1;
		left: -25px;
		top: 1px;
		color: #7B7B7B;
		cursor:pointer;
		width: 0;
	}
	.search-box input.form-control {
		border-radius:20px;
		display:inline-block;
		width:83.2%;
	}
	.search-box i.fa-search {
		margin-left:-30px;
	}
	.table input[type="checkbox"]{
		width: 20px;
		height: 20px;
		border: 1px solid #ddd;
		background: transparent;}
		

		.table > thead > tr > th {
			
			border-bottom: 1px solid #dddddd;
		
		}
		.table > tbody > tr:last-child{border-bottom: 1px solid #dddddd;}
		.btn-small{ padding:7px 13px;text-transform:none;}
		
		table thead{border-top:1px solid #ac9b9b;}
		.fundswitch-widgets table thead{border-top:none;}
		.table-striped > tbody > tr:nth-of-type(odd) {
			background-color: #f4f4f4;
		}
		.table-striped > tbody > tr:nth-of-type(even) {
			background-color: #fff;
		}
		.complete-color{color:#39b54a;}
		.inprogress-color{color:#f15a24;}
		.cancel-color{color:Orange;}
		.fa-search:before {
			color: #ccc;
		}
		  .fundswitch-widgets section { 
			color: #af5858;
			margin-top: 20px; 
		}

		
/*Search My Actions screen css ends here*/
